# Visual Studio Code
.settings
.vscode

# IntelliJ files
.idea
*.iml
.project

# Maven
target

# Java files
.classpath
*.class

# Visual Paradigm
*.vpp.bak*
*.vpp.lck

# macOS
.DS_Store
.AppleDouble
.LSOverride

